body
{
	background-color: #7A0031;
}

/*index page*/
.container
{
    background-color:lightgray;
    padding-bottom:1%;
    padding-top: 0.5%; 
    width: 65%;
    height: 70%;
    margin-top:10px;
}

#message-index
  {
    font-weight: bold;
    color: #0066FF;
  }

/*main page*/
#wrapper, #content
{
	width: 1280px;
    height: 800px;
}

#wrapper
{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0; 
    overflow: hidden;
    background-color:rgb(226, 245, 216);
    background-color: #7A0031;
}

#content
{
	position: relative;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

#game-content
{
	background: url(../img/Mickey.jpg) no-repeat center bottom;
    width: 100%;
    float: left;
    text-align: center;
    height:100%;    
    /*border: 6px solid #580023;
    border-style: outset;*/
}

#draggable-numbers-div
{
	cursor: pointer;
    margin-left: 20%;
    height: 80px;   
}

#droppable-numbers-div
{
	height: 120px;
	margin-top: 100px;
	margin-left: 250px;
}

.draggable-element
{
    vertical-align: top;
    border: 2px solid #486C26;
    margin: 10px 10px;
    color: green;
    background-image: url(../img/emptystar.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
}

.element
{
  display: inline-block;
  padding: 6px 10px 6px 32px;
  font-size: 25px;
  text-align: center;
  background:#FAFF43 url(../img/star.png) no-repeat left center;
}

.droppable-element
{
    vertical-align: top;
    border: 3px solid #284EC3;
    margin: 20px 10px;
    color: green;
    background-image: url(../img/emptystar.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    height: 50%;
    width: 8%;
}

.hovered, .over 
{
    background: #F7F2D3;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
}

.draggable-element:hover 
{
    border: 3px solid #68D206;
}

.correct
{
    border-color: #009933;
    background-image: url(../img/star.png);
    height: auto;
    width: auto;
}

.incorrect
{
    border-color: red;
    background-image: url(../img/emptystar.png);
    height: auto;
    width: auto;
}

#message
{
	vertical-align: bottom;
    margin-left:0%;
    height: 250px;
    padding-top: 80px;
}

#happy, #sad
{
	width: 20%;
	margin-left: 60%;
	margin-top: -13%;
}

.bubble
{
    position: relative;
    width:30%;
    height:52%;
    background: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: #7F7F7F solid 2px;
    vertical-align: top;
    font-weight: bold;
    color: black;
    padding: 7px 2px 2px 2px;  
    margin-left: 40%; 
}

#options-bar-div 
{
	height:100px;
	width:100px;
	position:absolute;
	top:650px;
	left:1200px;
	z-index:3;
}

#options-bar
{
	vertical-align: top;
	width: 70px;
    height: 80px;
    cursor: pointer;	
	margin-bottom:1px;	
}

#restart:hover, #sound-on:hover, #sound-off:hover
{
	opacity: 0.7;
}

#fireworks-div
{
    height:200px;
    width:330px;
    position:absolute;
    top:50px;
    left:100px;
    z-index:3;
}

.swing
{
	-webkit-transform-origin: top right;   
    -webkit-animation-name: swing;    
    -webkit-animation:swing 2s 1;

    transform-origin: top right;
    animation-name: swing;
    animation: swing 2s 1;
}

@-webkit-keyframes swing 
{
    20% 
    {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(1, 0, 1, 15deg);
    }
    40% 
    {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
    60% 
    {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
    80% 
    {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
    100% 
    {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing 
{
    20% 
    {
      transform: rotate3d(0, 0, 1, 15deg);
    }
    40% 
    {
      transform: rotate3d(0, 0, 1, -10deg);
    }
    60%
    {
      transform: rotate3d(0, 0, 1, 5deg);
    }
    80% 
    {
      transform: rotate3d(0, 0, 1, -5deg);
    }
    100% 
    {
      transform: rotate3d(0, 0, 1, 0deg);
    }
}
